body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #202124, #171717);
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    width: 420px;
    background: #292a2d;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 1.6em;
    color: #fff;
}

.user-info {
    display: flex;
    align-items: center;
}

#username {
    margin-right: 10px;
    color: #bdbdbd;
}

#exchange-button {
    padding: 5px 10px;
    background: #3c4043;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

#exchange-button:hover {
    background: #52565a;
}

.main-content {
    padding: 15px;
    border-radius: 10px;
    background: #37383c;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat {
    background: #44474a;
    padding: 10px;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
}

.currency {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

.coin-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

#level-container {
    margin-bottom: 20px;
    color: #fff;
}

.pet img {
    width: 160px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.bars {
    margin-bottom: 20px;
}

.bar {
    margin-bottom: 10px;
    color: #fff;
}

.progress {
    background: #52565a;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    margin-top: 5px;
}

.progress-bar {
    height: 10px;
    border-radius: 10px;
    background: #76ff03;
}

.actions {
    margin-bottom: 20px;
}

.actions button {
    background: #3c4043;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px 10px 0;
    transition: background 0.3s ease;
}

.actions button:hover {
    background: #52565a;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.menu-button .icon {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.page {
    display: none;
}

.page.active {
    display: block;
}

#revive-button {
    display: none;
}
